.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: var(--zindex300);
}

.wrapperDesktop {
  display: none;
}

.wrapperMobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  margin: 15px;
  margin-bottom: 0;
}

.logoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.logo {
  width: 100px;
  height: calc(100% - 13px);
  margin: 0;
}

.logo img {
  max-width: 100%;
}

.dropletContainer {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.dropletImg {
  margin-right: 3px;
  width: 20px;
  height: 19px;
}

.dropletCount {
  margin-top: 2px;
}

.searchWrap {
  margin: 0;
  width: 100%;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.menu {
  margin-left: 1.2em;
  margin-top: 6px;
}

@media (min-width: 768px) {
  .wrapperMobile {
    display: none;
  }

  .wrapperDesktop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    flex-direction: row;
  }

  .leftSide {
    display: flex;
    width: 60%;
    align-items: center;
    margin-bottom: 1em;
  }

  .logoSmaller {
    width: 100px;
    padding: 15px 25px 0 0;
  }

  .logoSmaller img {
    max-width: 100%;
  }

  .rightSide {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
  }

  .searchWrap {
    margin: 0;
    position: relative;
  }
}
