.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.navWrap {
  grid-area: navWrap;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.dropletWrap {
  grid-area: dropletWrap;
  display: flex;
  align-self: center;
}

.logoWrap {
  grid-area: logoWrap;
  display: flex;
  justify-content: center;
  align-self: center;
}

.searchBarWrap {
  grid-area: searchBarWrap;
  margin: 0;
  width: 100%;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-template-areas:
    'dropletWrap logoWrap navWrap'
    'searchBarWrap searchBarWrap searchBarWrap';
  width: 100%;
  margin: 15px 15px 0 15px;
  margin-bottom: 0;
}

.logo {
  width: 100px;
  height: calc(100% - 13px);
  margin: 0;
}

.logo img {
  max-width: 100%;
}

.dropletContainer {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.dropletImg {
  margin-right: 3px;
  width: 20px;
  height: 19px;
}

.dropletCount {
  margin-top: 2px;
}

.menu {
  margin-left: 1.2em;
  margin-top: 6px;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 20px 20px 0 20px;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: 'logoWrap searchBarWrap dropletWrap navWrap';
  }

  .logoWrap {
    justify-content: flex-start;
  }

  .logoSmaller {
    width: 100px;
    padding: 15px 15px 0 0;
  }

  .logoSmaller img {
    max-width: 100%;
  }

  .searchBarWrap {
    max-width: 65%;
    margin: 0;
    position: relative;
  }

  .dropletWrap {
    justify-content: flex-end;
  }
}
