.header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  margin: 15px;
}

.logoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.logo {
  width: 100px;
  margin: 0;
}

.dropletContainer {
  height: 1.6em;
  display: flex;
}

.dropletImg {
  min-width: 1em;
  margin-right: 5px;
}

.dropletCount {
  margin-top: 6px;
}

.searchWrap {
  margin: 0;
  width: 100%;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.menu {
  margin-left: 1.2em;
  margin-top: 6px;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    flex-direction: row;
  }

  .leftSide {
    display: flex;
    width: 60%;
    align-items: center;
  }

  .logoSmaller {
    width: 100px;
    margin: 23px 1em 1em 1em;
  }

  .searchWrap {
    margin: 1em 0;
  }

  .rightSide {
    display: flex;
    justify-content: flex-end;
  }
}
