# rename this file without ".example" and add the missing values

# Frontend Url 
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Use the below endpoint if you have access to ElliotForWater Api staging project
NEXT_PUBLIC_API_URL=https://localhost:5001/api

# Resolve nodejs certificate error on local
NODE_TLS_REJECT_UNAUTHORIZED=0

NEXT_PUBLIC_CONTENTFUL_GRAPHQL_URL=
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=
NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN=

MOCK_CONTENTFUL=TRUE