.wrapper,
.form {
  position: relative;
}

.input {
  outline: none;
  width: 100%;
  padding: 0 40px 0 1em;
  height: 2.8em;
  border-radius: 2em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  border: 1px solid var(--lightGrey);
  font-size: 18px;
}

.inputBig {
  outline: none;
  width: 100%;
  padding: 0 40px 0 1em;
  height: 2.8em;
  border-radius: 2em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  border: 1px solid var(--lightGrey);
  font-size: 18px;
}

.button {
  position: absolute;
  right: 20px;
  bottom: 27%;
  z-index: 1;
  background: #fff;
  border: 0;
  margin-bottom: 0;
  padding: 0;
}

.buttonBig {
  /* stylelint-disable */
  @extend .button;
  /* stylelint-enable */
  right: 25px;
}

.autosuggestResults {
  position: absolute;
  width: calc(100% - 10%);
  z-index: 2;
  background-color: #fff;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  border-bottom: 1px solid var(--lightGrey);
  border-radius: 0 0 24px 24px;
}

.autosuggestResultsBig {
  /* stylelint-disable */
  @extend .autosuggestResults;
  /* stylelint-enable */
  max-width: 39em;
}

.autosuggestWord {
  padding: 7px 15px;
  color: var(--textColor);
  font-size: 14px;
  cursor: pointer;
}

.autosuggestWord:hover {
  background: var(--lightGrey);
}

.highlight {
  background: var(--lightGrey);
}

.autosuggestItemIcon {
  padding-right: 10px;
}
