.button {
  background: transparent;
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-family: var(--fontCommon);
  color: black;
  text-align: center;
}

.button:hover {
  color: var(--elliot-primary-color);
  border-color: var(--elliot-primary-color);
}

.button a {
  cursor: pointer;
  color: black;
}

.button a:hover {
  color: black;
}
