.button {
  display: inline-block;
  font-family: var(--fontCommon);
  font-size: 14px;
  text-align: center;
  color: white;
  line-height: 20.4px;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, var(--elliotSecondary) 0%, var(--elliotPrimary) 51%, var(--elliotSecondary) 100%);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  padding: 8px 24px;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
  background-position: right center;
}

.outline {
  @extend .button;

  background-image: none;
  border: 2px solid var(--elliotSecondary);
  color: var(--elliotSecondary);
}

.button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
}

.button a {
  cursor: pointer;
  color: white;
}

.outline a {
  @extend .button a;

  color: var(--elliotSecondary);
}

.button a:hover {
  color: white;
  text-decoration: none;
}

.outline:hover {
  color: white;
  background-image: linear-gradient(to right, var(--elliotSecondary) 0%, var(--elliotPrimary) 51%, var(--elliotSecondary) 100%);
  border: 2px solid transparent;
}

.outline:hover a {
  color: white;
}

.fluid {
  width: 100%;
}

.big {
  padding: 16px 24px;
}
