.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  min-height: calc(100% - 260px - 108px); /* 100% - footerHeight - headerHeight */
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
}

.fluid {
  overflow: hidden;
  max-width: 100%;
  display: grid;
}

.main {
  min-height: 100%;
}

.overflow {
  height: 100%;
}

.noOverflow {
  @extend .overflow;

  overflow: hidden;
}
