.titleNoResults {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.gridContainer {
  display: grid;
  padding: 15px;
  column-gap: 1em;
  grid-template-areas:
    'refineSearchesWrap'
    'main'
    'sidebar';
}

.refineSearchesWrap {
  grid-area: refineSearchesWrap;
  display: none;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  display: none;
}

/* ARTICLE */
.article {
  max-width: 768px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  background: #fff;
  padding: 1em;
  margin: 0;
  margin-bottom: 10px;
  word-break: break-word;
  overflow: hidden;
}

.title {
  margin: 0;
  font-size: 1.3em;
}

.titleLink {
  font-weight: 400;
  transition: none;
  color: var(--linkSearch);
}

.titleLink:hover {
  text-decoration: underline;
  color: var(--linkSearch);
}

.titleLink:visited {
  color: var(--elliotVisited);
}

.sponsor {
  font-size: 14px;
  font-size: 1em;
}

.sponsorLabel {
  padding: 0.1em 0.4em 0.2em;
  font-weight: bold;
  line-height: 1;
  margin-right: 5px;
  color: #555;
}

.relatedLinksWrap {
  margin-top: 10px;
}

.relatedLink {
  font-size: 12px;
  color: var(--linkSearch);
}

.relatedLink:hover {
  color: var(--linkSearch);
  text-decoration: underline;
}

.hidden {
  height: 0;
  width: 0;
  display: none;
}

/* Images Block */
.imagePreviewTitle {
  font-weight: 400;
  margin-bottom: 5px;
}

.imagePreview {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 5px;
}

.imagePreviewContainer {
  flex-grow: 1;
  margin: 4px;
  background-color: var(--light-grey-color);
  height: 80px;
}

.imagePreviewImage {
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
  border-radius: 4px;
  height: 80px;
}

@media (min-width: 768px) {
  .gridContainer {
    max-width: 1100px;
    margin-left: 80px;
    grid-template-columns: 65% auto;
    grid-template-areas:
      'refineSearchesWrap refineSearchesWrap'
      'main sidebar';
  }

  .refineSearchesWrap {
    display: inherit;
  }

  .refineSearchesMobile {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .article {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin: 2.5em 1em;
  }

  .article:first-child {
    margin-top: 0;
  }

  .title {
    margin: 0;
    font-size: 1.4em;
  }
}
