/* 
$slide-count: 5;
$slide-width: 30rem; 
================================= 
*/

html {
  box-sizing: border-box;
  font-size: 10px;

  @media (max-width: 425px) {
    font-size: 8px;
  }
}

body {
  font-size: 1.5rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.carouselWrap {
  margin-top: 10%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  box-sizing: border-box;
}

.carouselInner {
  height: 40rem;
  position: relative;
  width: calc(30rem * 3);
}

.carouselContainer {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carouselSlideList {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc((5 + 0.5) * 30rem * 2);
}

.carouselSlideItem {
  display: inline-block;
  height: 30rem;
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: 30rem;
}

.carouselSlideItemImg {
  cursor: zoom-in;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carouselSlideItemImg img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  width: 100%;
}

.carouselSlideItemImg img::after {
  align-items: center;
  background: rgba(black, 0.5);
  color: white;
  content: 'read more';
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  width: 100%;
}

.carouselSlideItemImg:hover::after {
  opacity: 1;
}

.carouselSlideItemImg:hover img {
  transform: scale(1.3);
}

.carouselSlideItemBody {
  bottom: -2.5rem;
  height: 10%;
  position: absolute;
}

.carouselSlideItemBody h4 {
  margin: 0.7rem 0 0;
  text-transform: uppercase;
}

.carouselSlideItemBody p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0.7rem 0 0;
}

.carouselBtn {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carouselBtnPrev {
  @extend .carouselBtn;

  left: -10rem;
}

.carouselBtnNext {
  @extend .carouselBtn;

  right: -10rem;
}

.carouselBtnArrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 6rem;
  padding: 3px;
  width: 6rem;
  z-index: 10;
}

.carouselBtnArrowLeft {
  @extend .carouselBtnArrow;

  transform: rotate(135deg);
}

.carouselBtnArrowRight {
  @extend .carouselBtnArrow;

  transform: rotate(-45deg);
}

.carouselDots {
  display: inline-block;
  left: 50%;
  margin-top: 2rem;
  position: absolute;
  transform: translateX(-50%);
}

.carouselDot {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  margin: 0 0.3rem;
  outline: none;
  transform: scale(0.5);
  width: 2rem;
}

.carouselDotActive {
  background: black;
}
