.formInput {
  border-radius: 12px;
  border-style: hidden;
  background-color: #fff;
  box-shadow: -1px 1px 5px -1px rgba(1, 1, 1, 0.2);
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 25px;
}
