.container {
  min-height: 70vh;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.centeredDiv {
  max-width: 800px;
  width: 80%;
  text-align: center;
  color: white;
  z-index: 1;
}

.button {
  padding-top: 20px;
  display: inline-block;
}

.title {
  font-size: 38px;
}

.subtitle {
  font-size: 1.4em;
  font-weight: 500;
}

@media (min-width: 768px) {
  .title {
    font-size: 44px;
  }

  .subtitle {
    font-size: 1.6em;
  }
}
