/* 
INPUT
==============
*/
.inputWrap {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.input {
  background: transparent;
  border: none;
  width: 100%;
  font-size: 14px;
}

.input:disabled {
  opacity: 0.4;
}

/* 
LABEL
==============
*/
.label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

/* 
BUTTON SUBMIT 
===================
*/

/* .button[type='submit'] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.button[type='submit']:hover {
  background: #bf1650;
}

.button[type='submit']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.button[type='submit'] {
  -webkit-appearance: none;
}

.button[type='button'] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.button:hover {
  background: #222;
} */

/* 
SELECT
===================
*/
.select {
  border-radius: 30px;
  border-style: hidden;
  background-color: #fff;
  box-shadow: -1px 1px 5px -1px rgba(1, 1, 1, 0.2);
  font-style: italic;
  appearance: none;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  padding-left: 1.5em;
}

/* 
ERROR
===================
*/
.error {
  color: var(--error);
  font-size: 12px;
}

.input.inputError {
  border-bottom: 2px solid var(--error);
}
