.footer {
  background: var(--footerBg);
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.social {
  grid-area: social;
}

.newsletter {
  grid-area: newsletter;
  margin-top: 40px;
}

.separationLine {
  grid-area: line;
  color: var(--textColor);
  margin-top: 50px;
}

.icons {
  margin-top: 25px;
}

.icon {
  height: 27px;
  margin: 0 10px;
}

.links {
  grid-area: links;
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.link {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 10px;
  display: inline;
}

.link a {
  color: var(--textColor);
  transition-duration: 0.2s;
}

.link a:hover {
  color: var(--cta);
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'social newsletter' 'line line' 'links .';
    column-gap: 10px;
    row-gap: 8px;
    text-align: left;
  }

  .icons {
    margin-left: -15px;
  }

  .newsletter {
    text-align: right;
    margin-top: 0;
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 0;
  }

  .separationLine {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid;
  }
}
