.accordion {
  list-style: none;
  border-bottom: 1px solid white;
}

.accordionItem {
  border-top: 1px solid white;
  padding-bottom: 8px;
  text-align: left;
}

.accordionTitle {
  font-size: 18px;
  color: white;
  font-weight: 700;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  cursor: pointer;
  border: none;
}

.control {
  font-size: 20px;
}

.text {
  padding: 20px;
  font-size: 16px;
  text-align: left;
}

.text p a {
  color: var(--elliotCta);
}

.text p a:hover {
  color: var(--elliotCtaHover);
}

.textWrapper {
  height: auto;
  overflow: hidden;
  transition: height ease 0.2s;
}

.button {
  margin-top: 40px;
}

@media (min-width: 500px) {
  .button {
    margin-left: calc(50% - 160px);
  }
}
