.modal {
  background-color: rgba(49, 49, 49, 0.86);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--zindex100);
}

.modalContent {
  max-width: 500px;
  margin: 100px auto;
  background: white;
  border: 1px solid var(--placeholder);
  border-radius: 6px;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  transform: scale(1);
}
