.layer1,
.layer2,
.layer3,
.layer4,
.layer5,
.layer6 {
  min-height: calc(100vh - 165px);
  height: 100%;
  position: relative;
  top: -1px;
  box-sizing: content-box;
}

.layer2 {
  background: #dfc8b3;
}

.layer3 {
  background: #d1bcaa;
}

.layer4 {
  background: #c6af9e;
}

.layer5 {
  background: #bca799;
  padding-top: 50px;
}

.layer6 {
  top: -5px;
  background: white;
  padding-top: 10%;
}

.bg1,
.bg2,
.bg3,
.bg4,
.bg5,
.bg6 {
  position: absolute;
  bottom: -1px;
  width: 600px;
  right: -140px;
}

.bg2 {
  width: 700px;
  right: -150px;
}

.bg3,
.bg4,
.bg5 {
  right: auto;
  left: -50px;
}

.wellTop {
  position: absolute;
  right: -103px;
  bottom: 0;
  width: 240px;
}

.wellMiddle {
  position: absolute;
  top: -1px;
  background-image: url('/images/why-water-page/wellMiddle.png');
  background-repeat: repeat round;
  background-size: 100%;
  height: 100%;
  width: 36px;
  right: 10px;
}

.wellLastBit {
  height: 65%;
}

.wellBottom {
  position: absolute;
  right: 10px;
  width: 36px;
  bottom: 12%;
}

.headline {
  margin: 0 20px;
  z-index: var(--zindex10);
  position: relative;
  max-width: 75%;
  font-size: 14px;
}

.headline2 {
  padding-top: 50px;
}

.headline3 {
  padding-top: 50px;
  text-align: right;
}

.headline4 {
  padding-top: 50px;
  text-align: right;
}

.headline6 {
  margin-top: -15%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.highlightText {
  color: var(--elliotPrimary);
}

.title {
  font-size: 3em;
  margin-bottom: 15px;
}

.subtitle {
  margin-bottom: 13px;
  line-height: 1.3;
}

.smallTitle {
  padding-right: 10px;
  font-size: 20px;
}

.description {
  margin-bottom: 0;
}

.bubbleWrapper {
  z-index: var(--zindex10);
  position: absolute;
  font-size: 14px;
  display: none;
}

.bubbleWrapper p {
  position: absolute;
}

.bubbleWrapper1 {
  width: 350px;
  left: -80%;
  bottom: 30%;
}

.bubbleWrapper1 p {
  max-width: 300px;
  padding: 18px 0 0 20px;
}

.bubbleWrapper2 {
  width: 300px;
  left: -23%;
  top: -30%;
}

.bubbleWrapper2 p {
  max-width: 230px;
  text-align: justify;
  padding: 23px;
  line-height: 1.6;
}

.bubbleWrapper3 {
  width: 269px;
  left: -20%;
  top: -42%;
}

.bubbleWrapper3 p {
  max-width: 200px;
  text-align: justify;
  padding: 20px;
}

.bubbleWrapper4,
.bubbleWrapper5 {
  width: 280px;
  right: -12%;
}

.bubbleWrapper4 p,
.bubbleWrapper5 p {
  max-width: 220px;
  padding: 11px 0 0 29px;
  line-height: 1.3;
}

/* MEDIA QUERY */

@media (min-width: 400px) {
  .bg1,
  .bg2,
  .bg3,
  .bg5 {
    width: 130%;
    right: auto;
  }

  .bg3 {
    left: -20px;
  }

  .bg4 {
    width: 150%;
    right: auto;
    left: -50px;
  }

  .bg6 {
    width: 100%;
    right: auto;
  }

  .wellTop {
    right: -83px;
    width: 200px;
  }

  .wellMiddle {
    width: 32px;
    right: 10px;
    top: -3px;
  }

  .wellBottom {
    width: 32px;
  }

  .headline {
    font-size: 16px;
  }

  .headline3 .description {
    text-align: right;
  }

  .headline4 {
    margin: 0 auto;
    left: -5%;
    max-width: 350px;
  }

  .headline4 .description {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .headline {
    margin: 0 25px;
    max-width: 500px;
  }

  .headline2 {
    padding-top: 100px;
    max-width: 500px;
  }

  .headline3 {
    right: -5%;
    padding-top: 50px;
  }

  .headline4 {
    margin: 0 auto;
    max-width: 350px;
  }

  .headline6 {
    margin-top: -15%;
  }

  .title {
    margin-bottom: 25px;
  }

  .subtitle {
    margin-bottom: 23px;
  }

  .wellBottom {
    bottom: 15%;
  }
}

@media (min-width: 768px) {
  .layer1,
  .layer2,
  .layer3,
  .layer4,
  .layer5,
  .layer6 {
    min-height: calc(100vh - 108px);
  }

  .bg1,
  .bg2,
  .bg3,
  .bg4,
  .bg5 {
    width: 100%;
  }

  .bg3,
  .bg4,
  .bg5 {
    left: auto;
  }

  .wellTop {
    right: 40px;
    width: 300px;
  }

  .wellMiddle,
  .wellBottom {
    width: 47px;
    right: 180px;
  }

  .headline3 {
    right: 0%;
  }

  .cta {
    margin-top: 20px;
  }
}

@media (min-width: 900px) {
  .headline {
    margin: 0 40px;
  }

  .headline3 {
    right: -10%;
  }

  .headline4 {
    margin: 0 auto;
    max-width: 350px;
  }

  .headline6 {
    margin-top: -15%;
  }
}

@media (min-width: 1024px) {
  .hideMobile {
    display: block;
  }

  .headline3 {
    right: -15%;
    padding-top: 20px;
  }

  .wellTop {
    right: 100px;
    width: 350px;
  }

  .wellMiddle,
  .wellBottom {
    width: 54px;
    right: 264px;
  }

  .wellBottom {
    bottom: 20%;
  }

  .bg1Hover {
    position: absolute;
    right: 8%;
    width: 30%;
    height: 50%;
    bottom: 5%;
  }

  .bg1Hover:hover .bubbleWrapper1 {
    /* Hiding bubble for now (22.10.2020) */

    /* display: block; */
  }

  .bg2Hover {
    position: absolute;
    right: 30%;
    width: 30%;
    height: 50%;
    bottom: 20%;
  }

  .bg2Hover:hover .bubbleWrapper2 {
    /* Hiding bubble for now (22.10.2020) */

    /* display: block; */
  }

  .bg3Hover {
    position: absolute;
    left: 10%;
    width: 35%;
    height: 50%;
    bottom: 20%;
  }

  .bg3Hover:hover .bubbleWrapper3 {
    /* Hiding bubble for now (22.10.2020) */

    /* display: block; */
  }

  .bg4Hover,
  .bg5Hover {
    position: absolute;
    right: 10%;
    width: 35%;
    height: 50%;
    bottom: 20%;
  }

  .bg4Hover:hover .bubbleWrapper4 {
    /* Hiding bubble for now (22.10.2020) */

    /* display: block; */
  }

  .bg5Hover:hover .bubbleWrapper5 {
    /* Hiding bubble for now (22.10.2020) */

    /* display: block; */
  }
}

@media (min-height: 700px) {
  .layer6 {
    padding-top: 0;
  }

  .headline6 {
    margin-top: 0;
  }
}

@media (min-height: 800px) {
  .wellLastBit {
    height: 75%;
  }
}

@media (min-height: 1080px) {
  .wellLastBit {
    height: 85%;
  }
}

@media (min-width: 1240px) {
  .wellTop {
    right: 200px;
  }

  .wellMiddle,
  .wellBottom {
    right: 364px;
  }

  .wellBottom {
    bottom: 25%;
  }

  .layer6 {
    padding-top: 10%;
  }

  .headline6 {
    margin-top: -15%;
  }
}
