:root {
  --elliotPrimary: #72afd4;
  --elliotSecondary: #577399;
  --elliotTealBlue: #287896;
  --elliotCta: #ffa62b;
  --elliotVisited: #7e359e;
  --elliotLinkSearch: #1a0dab;
  --dimGrey: #999;
  --lighterGrey: #f0f0f0;
  --lightGreyBackground: #f7f7f7;
  --lightAzureBackground: #f7f7ff;
  --lightGrey: #e8e8e8;
  --textColor: #333;
  --error: #ad081b;
  --fontCommon: 'Arial', 'Arial Bold', 'Gadget', sans-serif;
  --fontBlack: 'Arial Black', 'Arial Bold', 'Gadget', sans-serif;
  --zindex0: 0;
  --zindex10: 10;
  --zindex50: 50;
  --zindex100: 100;
  --zindex200: 200;
  --zindex300: 300;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  background: white;
  color: var(--textColor);
  font-weight: 400;
  min-height: 100%;
  line-height: 1.5;
  font-size: 14px;
  font-family: var(--fontCommon);
}

::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontCommon);
  font-weight: 700;
}

h1,
h2,
h3 {
  line-height: 1.3;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
  font-size: 1.8em;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--elliotPrimary);
}

a:hover {
  color: var(--elliotSecondary);
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* COMMON STYLE 
=========================
*/

.hidden-element {
  height: 0;
  width: 0;
  display: none;
}

/* odometer custom style */
.odometer {
  color: var(--elliotSecondary);
  font-size: 22px;
  letter-spacing: 0.3em;
  font-family: var(--fontCommon);
  font-weight: 700;
}

.divider {
  height: 4px;
  width: 100%;
  margin: 0 auto;
  background: var(--elliotSecondary);
}

.old_container {
  background: #f7f7f7;
  margin-top: 1px;
  margin-right: 0;
  margin-left: 0;
}
.container {
  margin-left: 15rem;
  margin-right: auto;
}
@media (min-width: 576px) {
  .divider {
    margin-bottom: 1vh;
  }
}
@media (max-width: 576px) {
  .container {
    margin-left: 2.55rem;
  }
}
@media (min-width: 768px) {
  .old_container {
    background: white;
    margin-top: 0;
    margin-left: 130px;
  }
  .odometer {
    font-size: 26px;
  }

  .divider {
    margin-bottom: 1.5vh;
  }
}
@media (max-width: 768px) {
  .container {
    margin-left: 2.55rem;
    margin-right: 1rem;
  }
}
@media (min-width: 1200px) {
  .old_container {
    max-width: 1100px;
  }
  .divider {
    margin-bottom: 3vh;
  }
}

/*TERMS*/
.termsWrap {
  padding: 0 1rem;
}
.termsWrap > ul {
  list-style-type: circle;
}
/*END of TERMS*/
