:root {
  --backgroundColor: #27496d;
  --brandColor: #40e0d0;
  --textColor: #27496d;
  --textColorContrast: #dae1e7;
  --emerald: #00909e;
  --violet: #633a82;
  --azure: #f1fcfc;
  --bodyFont: 'Lora', serif;
  --headerFont: 'Ubuntu', sans-serif;
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headerFont);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--emerald);
}

label {
  font-family: var(--headerFont);
}

/* COMMON STYLE */
.main {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 20px 0;
}
