:root {
  --elliotPrimary: #4aacc2;
  --elliotHover: #9cd5db;
  --elliotVisited: #63bfce;
  --dimGrey: #999999;
  --lightGrey: #f0f0f0;
  --placeholder: #cccccc;
  --textColor: #444444;
  --cta: #3fa2b8;
  --footerBg: #e6f6f9;
  --borderColor: #99b7bd4f;
  font-family: Arial, sans-serif;
}

body {
  background: white;
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headerFont);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--emerald);
}

label {
  font-family: var(--headerFont);
}

/* COMMON STYLE */
.main {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 20px 0;
}
