.newsletterForm {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.newsletterFormBig {
  max-width: 500px;
  margin: 0 auto;
}

.wrapperInput {
  margin-right: 3px;
}

.newsletterEmail {
  border-bottom: 1px dotted black;
  max-width: 150px;
}

.newsletterEmailBig {
  border-radius: 12px;
  border-style: hidden;
  background-color: #fff;
  box-shadow: -1px 1px 14px -1px rgba(1, 1, 1, 0.2);
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 30px;
}
