.settingsForm {
  background-color: rgba(10, 10, 10, 0.86);
}

.settingsHeader {
  min-height: 16.428571429px;
  padding: 5px 15px;
  border-bottom: 1px solid #e5e5e5;
}

.settingsBody {
  position: relative;
  padding: 20px;
}

.settingsFooter {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.title {
  margin: 0;
  line-height: 1.428571429;
}

.checkboxLabel {
  padding-left: 8px;
  margin-bottom: 0;
}
