.newsletterForm {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.newsletterEmail {
  background: transparent;
  border: none;
  border-bottom: 1px dotted black;
  outline: none;
  top: 0;
  right: 3px;
  position: relative;
}

.newsletterButton {
  background: transparent;
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
}

.newsletterButton:hover {
  color: var(--elliotPrimary);
  border: 1px solid var(--elliotPrimary);
}

.submitButton {
  border: 0;
  background: transparent;
  font-size: 16px;
  line-height: 1.5;
}
